.btn-container table {
  border: 1px solid;
  border-collapse: collapse;
}

td {
  border: 1px solid;
  margin: 0;
  padding: 20px;
}

#display {
  height: 50px;
  background-color: lightgray;
  margin-bottom: 20px;
}